<tr style="cursor: pointer" (click)="toggle()">
  <th scope="row">
    <mat-icon [inline]="true">{{
      (isExpanded$ | async) === true ? "expand_less" : "expand_more"
    }}</mat-icon>
    {{ title }}
  </th>
  <td *ngFor="let value of data$ | async">
    {{ value | financialNumber : numberFormat }}
  </td>
</tr>
<tr class="expanded" *ngIf="showDelta && (isExpanded$ | async) === true">
  <th scope="row">Delta</th>
  <td *ngFor="let value of deltas$ | async">{{ value | percent : "1.2-2" }}</td>
</tr>
<tr class="expanded" *ngIf="showCagrs5y && (isExpanded$ | async) === true">
  <th scope="row">CAGR 5y</th>
  <td *ngFor="let value of cagrs5y$ | async">
    {{ value | percent : "1.2-2" }}
  </td>
</tr>
<tr class="expanded" *ngIf="showCagrs10y && (isExpanded$ | async) === true">
  <th scope="row">CAGR 10y</th>
  <td *ngFor="let value of cagrs10y$ | async">
    {{ value | percent : "1.2-2" }}
  </td>
</tr>
